
.dialog_overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(44 44 44 / 38%);
}
.dialog_content {
    width: min(80%, 40rem);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem;
    border-radius: .4rem;
    background-color: var(--white);
    color: var(--neutral-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:  rgb(14 18 22 / 35%) 0px 10px 38px -10px, rgb(14 18 22 / 20%) 0px 10px 20px -15px;
}
.dialog_content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.dialog_content p {
    font-size: 1.4rem;
    color: var(--neutral-500);
}
.dialog_content form {
    margin-inline: initial;
    margin-bottom: 0;
}
.dialog_content form input {
    border: 2px var(--neutral-500) solid;
    height: 4.6rem;
}
.dialog_content form input:focus {
    border: 2px var(--emerald-700) solid;
}
.dialog_content form button {
    border: 2px transparent solid;
    height: initial;
}
.container_btn {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.dialog_btn {
    cursor: pointer;
    appearance: none;
    outline: none;
    margin-top: 1rem;
    width: 100%;
    border: none;
    border-radius: .4rem;
    border: #6f6e7727 1.2px solid;
    padding: 1rem 1.5rem;
    background-color: #eeedef;
    font-weight: 700;
    font-size: 1.4rem;
    color: #6f6e77;
}
.dialog_btn:focus {
    border: #6f6e7742 2px solid;
}
.dialog_btn_delete {
    cursor: pointer;
    appearance: none;
    outline: none;
    width: 100%;
    border: none;
    border-radius: .4rem;
    padding: 1rem 1.5rem;
    border: #fb718638 2px solid;
    background-color: var(--rose-200);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--rose-400);
}
.dialog_btn_delete:focus {
    border: #fb7185 2px solid;
}
.box_btn {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    background-color: var(--neutral-500);
    border-radius: 0.4rem;
    border: 2px solid #49494944;
    outline: none;
    padding: 0.5rem;
    transition: all 0.3s;
  }
.box_btn:hover,
.box_btn:focus {
  border: 2px solid #49494998;
}
.box_btn span {
  margin-left: 1rem;
}